# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/DeskProject/nbproject/private/
/DeskProject/dist/
/DeskProject/build/
DeskProjectServer/dist/DeskProjectServer.jar
/DeskProjectServer/nbproject/private/
/DeskProjectServer/dist/
/DeskProjectServer/build/
/MGSystemCommons/nbproject/private/
/MGSystemCommons/build/
/MGSystemCommons/dist/